<h3>Other cats avalible for adoption: </h3>

<div class="row owl-theme owl-carousel owl-packages">


<div class="card" style="width: 18rem;">
  <img src="/images/cat/1cat7.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Charlie</h5>
    <p class="card-text">Charlie is a bundle of energy who loves playing with toys and engaging in interactive games. He’s the perfect cat for anyone looking for a playful companion.!</p>
    <a href="/category/cats/details/7" class="btn btn-primary">More about Charlie</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/cat/1cat5.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Simba</h5>
    <p class="card-text">Simba has an adventurous spirit and loves discovering new places to explore. He’s a confident cat who’s always eager to learn new tricks.</p>
    <a href="/category/cat/details/5" class="btn btn-primary">More about Simba</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/cat/1cat11.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sophie</h5>
    <p class="card-text">Sophie is a gentle and patient cat who loves curling up on soft surfaces. She’s a bit shy at first but soon warms up to those who treat her with kindness.

</p>
    <a href="/category/cat/details/11" class="btn btn-primary">More about Sophie</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/cat/1cat9.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Shadow</h5>
    <p class="card-text">Shadow is a quiet and introspective cat who enjoys moments of solitude. Once he’s warmed up to you, he’s a loving and loyal companion.</p>
    <a href="/category/cat/details/9" class="btn btn-primary">More about Shadow</a>
  </div>
</div>


</div>