<div class="row owl-theme owl-carousel owl-packages">

    <div class="card" style="width: 18rem;">
  <img src="/images/horse/1horse8.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Firefly</h5>
    <p class="card-text">Firefly is quick and spirited, with an energy that is both contagious and uplifting. Her playful and curious nature means she's always exploring new things, and her agility in the ring is simply dazzling.</p>
    <a href="/category/horses/details/8" class="btn btn-primary">More about Firefly</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/dog/1dog7.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Rocky</h5>
    <p class="card-text">Confident and fearless, Rocky is always up for a challenge. Whether it's learning new tricks or tackling obstacles, he thrives when given a purpose.</p>
    <a href="/category/dogs/details/7" class="btn btn-primary">More about Shadow</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/cat/1cat5.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Simba</h5>
    <p class="card-text">Simba has an adventurous spirit and loves discovering new places to explore. He’s a confident cat who’s always eager to learn new tricks.</p>
    <a href="/category/cat/details/5" class="btn btn-primary">More about Simba</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/dog/1dog8.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Luna</h5>
    <p class="card-text">Luna is intelligent and independent, often thinking things through before making a decision. She enjoys spending time with her family but also values her space and solitude.!</p>
    <a href="/category/dogs/details/8" class="btn btn-primary">More about Luna</a>
  </div>
</div>







</div>