<div class="row owl-theme owl-carousel owl-packages">


<div class="card" style="width: 18rem;">
  <img src="/images/cat/1cat1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cats</h5>
    <p class="card-text">Cats available for adoption!</p>
    <a href="/category/cats" class="btn btn-primary">Cats</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/dog/1dog1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dogs</h5>
    <p class="card-text">Dogs available for adoption!</p>
    <a href="/category/dogs" class="btn btn-primary">Dogs</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/horses/1horse1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Horses</h5>
    <p class="card-text">Horses available for adoption!</p>
    <a href="/category/horses" class="btn btn-primary">Horses</a>
  </div>
</div>


</div>