<h3>Other dogs avalible for adoption: </h3>

<div class="row owl-theme owl-carousel owl-packages">


<div class="card" style="width: 18rem;">
  <img src="/images/dog/1dog8.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Luna</h5>
    <p class="card-text">Luna is intelligent and independent, often thinking things through before making a decision. She enjoys spending time with her family but also values her space and solitude.!</p>
    <a href="/category/dogs/details/8" class="btn btn-primary">More about Luna</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/dog/1dog11.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Finna</h5>
    <p class="card-text">Finn is intelligent and quick to learn, always eager to please. His curiosity and drive make him a great dog for training, and he thrives when given tasks to accomplish.</p>
    <a href="/category/dogs/details/11" class="btn btn-primary">More about Finna</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/dog/1dog6.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Daisy</h5>
    <p class="card-text">Daisy is gentle and patient, often showing a calm demeanor around children and other pets. She enjoys quiet time with her family and is the perfect companion for someone who values peace and tranquility.</p>
    <a href="/category/dogs/details/6" class="btn btn-primary">More about Sophie</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/dog/1dog7.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Rocky</h5>
    <p class="card-text">Confident and fearless, Rocky is always up for a challenge. Whether it's learning new tricks or tackling obstacles, he thrives when given a purpose.</p>
    <a href="/category/dogs/details/7" class="btn btn-primary">More about Shadow</a>
  </div>
</div>


</div>