<h3>Other horses avalible for adoption: </h3>

<div class="row owl-theme owl-carousel owl-packages">


<div class="card" style="width: 18rem;">
  <img src="/images/horse/1horse8.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Firefly</h5>
    <p class="card-text">Firefly is quick and spirited, with an energy that is both contagious and uplifting. Her playful and curious nature means she's always exploring new things, and her agility in the ring is simply dazzling.</p>
    <a href="/category/horses/details/8" class="btn btn-primary">More about Firefly</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/horse/1horse6.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Stormy River</h5>
    <p class="card-text">Known for her powerful and energetic presence, Stormy River is a horse who thrives on action. Whether it’s barrel racing or galloping across open fields, she loves the thrill of the run and the wind in her mane.</p>
    <a href="/category/horses/details/6" class="btn btn-primary">More about Stormy River</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/horse/1horse12.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Moonlight Serenade</h5>
    <p class="card-text">Moonlight Serenade is known for her smooth, steady gait and her tranquil demeanor. She is often the horse chosen for evening rides under the stars, bringing a peaceful and almost magical presence to the experience.</p>
    <a href="/category/horses/details/12" class="btn btn-primary">More about Moonlight Serenade</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/images/horse/1horse2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Whisperwind</h5>
    <p class="card-text">A calm and gentle spirit, Whisperwind is known for her serene nature. She is often the horse that beginners and young riders gravitate toward, as she provides a soothing presence and is always patient and understanding.</p>
    <a href="/category/horses/details/2" class="btn btn-primary">More about Shadow</a>
  </div>
</div>


</div>